.wrapper
{
  width: 100%;
  margin: auto;
  height: 80%;
  text-align: right;
 }
.dept-content
{
  margin-left: 14px;
  width: 69%;

}
 .del-cotent
 {
  text-align: center;
  padding-top: 15px
 }
 .cancelbtn {
  background-color: #ccc;
  color: black;
}
.deletebtn {
  background-color: #f44336;
}
.delete-container
{
    border-radius: 5px;
    background-color: white;
    padding-bottom: 125px;
}

 .cancelbtn, .deletebtn {
  float: left;
  width: 30%;
 cursor: pointer;
  text-align: center;
  border: none;
  color: white;
  font-size: 22px;
  margin-left: 13%;
  padding: 3%;
  margin-top: 15px;
  margin-bottom: 46px;

}
.errorMsg{
  display: none;
  color:red;
  position: absolute;
  left:18%;

}
.btn-group-submit
{
  padding-top: 34px;
  padding-left: 17%;
}

.modal-content1
{
  background-color: white;
  margin: 9% auto 27% auto;
  border: 1px solid #888;
  width: 39%;
}
.form-content{
  position: relative;
    left: 2%;
}
.labelStyle
{
    position: absolute;
    width: 230px;
    font-size: 17px;
}

.btnadd:hover{
  box-shadow: 10px 10px 5px #aaaaaa;
}

.btnadd {
  background-color: #4CAF50;
  color: white;
  padding: 14px 33px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
  margin: auto;
  margin-top: 25px;
  /* margin-left: 11px; */
  text-align: center;
  border-radius: 35px;
  font-size: 21px;
  margin-bottom: 30px;
  margin-right: 17px;

}
.container {
  
  text-align: center;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 107px 0px;

}

.modal2{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: #0c0f1f6b;
  padding-top: 50px;
}


.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: #6b6c71;
  padding-top: 50px;
}


.modal-content {
  background-color: #fefefe;
  margin: 2% auto 15% auto; 
  border: 1px solid #888;
  width: 80%;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}


.btngroup::after {
  content: "";
  clear: both;
  display: table;

}
.btngroup
{
  padding-top: 3%;
  padding-left: 17%;
}
@media screen and (max-width: 1024px) {
  .wrapper{
    width:88%;
  }
  .labelStyle{
    position: unset;
    padding-right: 44px;
  }
  .btnadd{
    color:white;
    font-size: 12px;
    width: 25%;
  }
  .btnclear{
    width: 22%;
  }

}

@media screen and (max-width: 480px) {
  .wrapper{
    width:100%;
  }
  td,th{
  font-size: 13px;

  }
  .labelStyle{
    position: unset;
    padding-right: 23%;
    font-size: 14px;
  }
  .btnadd{
    color:white;
    font-size: 13px;
    width: 47%;
    cursor: pointer;  
    margin-right: 20px;

  }
  .btnclear {
   
    padding: 10px;
    font-size: 11px;
    border: none;
    width: 39%;
    color: red;
    border-radius: 9px;
   }
.btnsubmit
{
  margin-right: 25px;
  padding: 4% 7%;
  font-size: 11px;
  width: 37%;
}
  h1{
    font-size: 20px;
  }
 
  
}




input, select {
    width: 66%;
    padding: 12px;
    margin-left: 55px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-left: 16px;
  }
.btnclear
{
    border: none;
    cursor: pointer;
    float: left;
    width: 16%;
    padding: 10px;
    background-color: #54615e;
    color: white;
    border-radius: 9px;
    opacity: 0.9;
    margin: auto;
    font-size: 19px;
}
.btnsubmit
{
    padding: 10px 36px;
    width: 16%;
    text-align: center;
    color: white;
    font-size: 19px;
    background-color: #3f51b5;
    border-radius: 10px;
    margin-right: 62%;
    border: none;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
}



td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}



.btn-group-delete
{
  padding-top: 20px;
}
// .del:hover{
//   background-color: rgba(0, 0, 0, 0);
//   border-radius: 25%;
// }

