<div class="wrapper">
  <mat-card>

    <button class="btn-add" (click)="add()">ADD EMPLOYEE</button>
    <br><br>

    <table>
      <tr>
        <th>Name</th>
        <th>Employee Id</th>
        <th>Department</th>
        <th>Email Id</th>
        <th>DOJ</th>
        <th>Actions</th>
      </tr>
      <tbody *ngFor="let data of list">
        <tr>
          <td>{{data.empname}}</td>
          <td>{{data.id}}</td>
          <td>{{data.dept}}</td>
          <td>{{data.email}}</td>
          <td>{{data.date}}</td>
          <td style="cursor: pointer"><i class="material-icons dell" (click)='delete(data.id)'>delete</i></td>
        </tr>
      </tbody>
    </table>
  </mat-card>
</div>

<div id="id01" class="modal" *ngIf="adddetails">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
  <form class="modal-content" [formGroup]="empform" (ngSubmit)="submit()">
    <div class="container">
      <h1 style="text-align: center;">ADD EMPLOYEE DETAILS</h1>
      <b>Name:</b>
      <input type="text" class="input" #empname formControlName="empname" required>

      <div *ngIf="empname.invalid && (empname.dirty || empname.touched)" class="alert alert-danger">

        <div *ngIf="name.errors.required">
          Name is required.
        </div>
      </div>
      <br /><br />

      <mat-error *ngIf="getterinvoicenumber.length==0">Name is required</mat-error><br><br>

      <b>Employee Id:</b>
      <input type="text" class="input" formControlName="id" required>

      <br /><br />
      <mat-error *ngIf="getterid.length==0">id required</mat-error><br /><br>
      <b> Department:</b>
      <select class="form-control" id="department" name="department" formControlName="dept">
        <option value="1">Sales</option>
        <option value="2">Production</option>
        <option value="3">Business</option>
        <option value="4">Marketing</option>
        <option value="5">Accounts</option>

      </select><br /><br />
      <mat-error *ngIf="getterinvoicenumber.length==0">Name is required</mat-error>
      <br><br>
      <b> Email Id:</b>
      <input type="email" class="input" formControlName="email" required />

      <br><br>
      <mat-error *ngIf="getterinvoicenumber.length==0">Email is required</mat-error><br><br>
      <!-- <mat-form-field> -->
      <mat-label><b>Choose a Date:</b></mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <!-- </mat-form-field> -->
      <br><br>

      <div class="clearfix">
        <button type="submit" class="btn-del" [disabled]="empform.invalid">SUBMIT</button>
        <button type="button" class="cancelbtn btn" (click)="clear()">CLEAR</button>
      </div>
    </div>
  </form>
</div>