
    


<div class="wrapper">
  

    <button class="btn-add" (click)="add()">ADD EMPLOYEE</button>
    <br><br>

    <table>
      <tr>
        <th>Name</th>
        <th>Employee Id</th>
        <th>Department</th>
        <th>Email Id</th>
        <th>DOJ</th>
        <th>Actions</th>
      </tr>
      <tbody *ngFor="let data of list">
        <tr>
          <td>{{data.empname}}</td>
          <td>{{data.id}}</td>
          <td>{{data.dept}}</td>
          <td>{{data.email}}</td>
          <td>{{data.doj}}</td>
          <td style="cursor: pointer"><i class="material-icons dell" (click)='delete(data.id)'>delete</i></td>
        </tr>
      </tbody>
    </table>
  
</div>

<div id="id01" class="modal" *ngIf="adddetails">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
  <form class="modal-content" [formGroup]="empform" (ngSubmit)="submit()">
    <div class="container">
      <div class = "form-content">
      <h1 style="text-align: center;">ADD EMPLOYEE DETAILS</h1>
      <div class = "labelStyle">  <label><b>Name</b></label></div>
  
      
   <input type="text" class="input"  formControlName="empname" (keyup)="checkEmpError()" required>
<div  id="empnameError" class = "errorMsg">Enter Name</div>

      <br /><br />

      <!-- <mat-error *ngIf="getterinvoicenumber.length==0">Name is required</mat-error> -->
      <div class = "labelStyle">  <label><b>Employee ID</b></label>  </div>

   
      <input type="text"  formControlName="id" (keyup)="checkIdError()" required>
      <div id ="idError" class = "errorMsg">Enter Id</div>

      <br /><br />
     
      <div class = "labelStyle">
      <label> <b>Department</b></label></div>
      <select class="form-control" id="department" name="department" formControlName="dept" (click)="checkDepartment()">
        <option value="1">Sales</option>
        <option value="2">Production</option>
        <option value="3">Business</option>
        <option value="4">Marketing</option>
        <option value="5">Accounts</option>

      </select>
      <div  id="departmentError" class = "errorMsg">Select department</div>
        <br /><br />
     
      <div class = "labelStyle">
      <b> Email ID</b></div>
      <input type="email"  id="emailid" formControlName="email" (keyup)="checkEmail()" required />
      <div  id="emailError" class = "errorMsg">Enter Email Id</div>

      <br><br>

      <div class = "labelStyle">
      <label><b>Date</b></label></div>
     <input type = "date" formControlName="doj" (click)="checkDateError()"  required>
     <div  id="dateError" class = "errorMsg">Select Date</div>

      <br><br>
       <div class="clearfix">
        <button type="submit" class="btn" >SUBMIT</button>
        <button type="button" class="cancelbtn btn" (click)="clear()">CLEAR</button>
      </div>
    </div>
  </div>
  </form>
</div>